*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.logo {
    height: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    padding-left: 15px;
    height: 50px;
    font-size: 0.8rem;
}

.menu__link {
    margin-right: 10px;
    display: block;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
}

.menu__link__premium {
    color: blue;
}

.menu__link__login {
    color: white;
    border: none;
    background-color: #b964e0;
}

.introduction__image-block {
    background-color: gray;
}

.features {
    list-style-type: none;
}

.features_feature {
    color:white;
    display: flex;
    align-items: center;
}

.feature__image {
    height: 20px;
    margin-right: 10px;
}

.feature-with-two-line-text {
    display: block;
}

.feature-with-two-line-text__block {
    display: flex;
    align-items: center;
}

.feature__second-text {
    text-align: start;
    margin: 0 30px;
}

.introduction__image-block img {
    margin: auto;
    display: block;
    background-color: #bd5dbb;
    border-radius: 100%;
    position: relative;
    top: 30px;
    padding: 20px;
    width: 110px;
}

.introduction__content-block {
    background-color: #b963dd;
    padding: 60px 0;
    text-align: center;
}

.menu__links {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.round-button {
    border-radius: 50px;
    padding: 10px 20px;
    display: block;
}

.get-stuff-button {
    background-color: #bd5dbb;
    font-size: 1.2rem;
    color: white;
    margin: auto;
    border: 2px solid white;
    width: 340px;
}

.start-now-button {
    background-color: white;
    color: #bd5eba;
    width: 320px;
    margin: auto;
}